@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Hi @User.Identity.Name</h1>
        <h1>欢迎使用smart order 系统</h1>
    }
    else
    {
        <h1>欢迎使用smart order 系统</h1>
        <h3 style="color:red">当前未登录</h3>
        <a asp-controller="Login" asp-action="Proxy">更多功能请登录</a>
    }
  
</div>
